@model SortModel

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="bubbleSortCheck" value="true" asp-for="IsBubbleSortEnabled" checked>
    <label class="form-check-label" for="bubbleSortCheck">
        BubbleSort
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="selectionSortCheck" value="true" asp-for="IsSelectionSortEnabled" checked>
    <label class="form-check-label" for="selectionSortCheck">
        SelectionSort
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="shellSortCheck" value="true" asp-for="IsShellSortEnabled" checked>
    <label class="form-check-label" for="shellSortCheck">
        ShellSort
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="quickSortCheck" value="true" asp-for="IsQuickSortEnabled" checked>
    <label class="form-check-label" for="quickSortCheck">
        QuickSort
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="mergeSortCheck" value="true" asp-for="IsMergeSortEnabled" checked>
    <label class="form-check-label" for="mergeSortCheck">
        MergeSort
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="countingSortCheck" value="true" asp-for="IsCountingSortEnabled" checked>
    <label class="form-check-label" for="countingSortCheck">
        CountingSort
    </label>
</div>